# Practical_3: Iterable objects or Containers

---

### Exercise 1:
Create a list of integers from 1 to 10.

In [3]:
list = [1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9 , 10]
list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
### Exercise 2:
Create a tuple containing the elements `"apple"`, `"banana"`, and `"cherry"`.

In [17]:
# Exercise 2
my_tuple = ('apple', 'banana' , 'cherry')

### Exercise 3:
Convert the list `numbers = [10, 20, 30, 40]` into a tuple.

In [1]:
numbers = [10, 20, 30, 40]
numbers_tuple = tuple (numbers)
print(numbers_tuple)

(10, 20, 30, 40)

### Exercise 4:
Create a set containing the elements `1, 2, 3, 4, 5`.

In [4]:
# Exercise 4
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [ ]:
### Exercise 5:
Create a dictionary `student` with the keys `"name"`, `"age"`, and `"grade"` and corresponding values `"Alice"`, `20`, and `"A"`.

In [6]:

# Exercise 5
student = {"name": "Alice","age": 20,"grade": "A"}
print(student)

{'name': 'Alice', 'age': 20, 'grade': 'A'}

In [ ]:
### Exercise 6:
Access the second element of the list `[10, 20, 30, 40, 50]` using indexing.

In [8]:

# Exercise 6
numbers = [10, 20, 30, 40, 50]
print( numbers[1])

20

In [ ]:
### Exercise 7:
Change the third element of the list `fruits = ["apple", "banana", "cherry", "orange"]` to `"mango"`.

In [28]:

# Exercise 7
fruits = ["apple", "banana", "cherry", "orange"]
fruits[2] = "mango"
print(fruits)

['apple', 'banana', 'mango', 'orange']

In [ ]:
---

### Exercise 8:
Add the number `6` to the set `numbers = {1, 2, 3, 4, 5}`.

In [30]:
# Exercise 8
numbers = {1, 2, 3, 4, 5}
numbers.add(6)
print(numbers)

{1, 2, 3, 4, 5, 6}

In [ ]:

### Exercise 9:
Remove the key `"age"` from the dictionary `person = {"name": "John", "age": 25, "city": "New York"}`.

In [32]:

# Exercise 9
person = {"name": "John", "age": 25, "city": "New York"}
person.pop("age")
print(person)

{'name': 'John', 'city': 'New York'}

In [ ]:
### Exercise 10:
Create a range object starting from 0 to 9.

In [36]:
# Exercise 10
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
---

### Exercise 11:
Use a list comprehension to create a list of squares of numbers from 1 to 10.

In [38]:

# Exercise 11
squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
---

### Exercise 12:
Create a tuple of even numbers between 2 and 10 using a tuple comprehension.

In [10]:

# Exercise 12
even_numbers = tuple(x for x in range(2, 11, 2))
print(even_numbers)

(2, 4, 6, 8, 10)

In [ ]:
---

### Exercise 13:
Use a for loop to iterate through the list `fruits = ["apple", "banana", "cherry"]` and print each element.

```python

In [16]:
# Exercise 13
fruits = ["apple", "banana", "cherry"]
for i in fruits:
    print(i)

apple
banana
cherry

In [ ]:
---

### Exercise 14:
Check if the value `3` exists in the set `numbers = {1, 2, 3, 4, 5}`.

```python

In [43]:
# Exercise 14
numbers = {1, 2, 3, 4, 5}
for i in numbers:
    if (i==3):
        print("La valeur 3 se trouve dans l'ensemble")
        break

La valeur 3 se trouve dans l'ensemble

In [ ]:
---

### Exercise 15:
Use the `len()` function to find the length of the tuple `numbers = (10, 20, 30)`.

In [45]:
# Exercise 15
numbers = (10, 20, 30)
print(len(numbers))

3

In [ ]:
### Exercise 16:
Add the value `100` at the end of the list `scores = [80, 85, 90, 95]`.

In [71]:
# Exercise 16
scores = [80, 85, 90, 95]
scores.append(100)  
print(scores)

[80, 85, 90, 95, 100]

In [ ]:
---

### Exercise 17:
Write a function that takes a list as input and returns the sum of all elements in the list.

In [117]:
# Exercise 17
def func(liste):
    somme=0
    for i in liste:
        somme+=i
    return somme

In [119]:
scores = [80, 85, 90, 95]
result=func(scores )
print(result)

350

In [ ]:
### Exercise 18:
Create a set containing the unique elements of the list `numbers = [1, 2, 2, 3, 4, 4, 5]`.

In [121]:
# Exercise 18
numbers=[1, 2, 2, 3, 4, 4, 5]
ensemble = set(numbers)
print(ensemble)

{1, 2, 3, 4, 5}

In [ ]:
### Exercise 19:
Convert the string `"hello"` into a list of characters.

In [131]:
# Exercise 19
var = "hello"
new_list = []
for i in var:
    new_list.append(i)
print(new_list)

['h', 'e', 'l', 'l', 'o']

In [ ]:
### Exercise 20:
Write a Python function that reverses a tuple `(1, 2, 3, 4)`.

In [135]:
# Exercise 20
def reverse_tuple(t):
    return t[::-1]

In [137]:
my_tuple = (1, 2, 3, 4)
reversed_tuple = reverse_tuple(my_tuple)
print(reversed_tuple)

(4, 3, 2, 1)

In [ ]:
### Exercise 21:
Merge two dictionaries `dict1 = {"a": 1, "b": 2}` and `dict2 = {"c": 3, "d": 4}` into a single dictionary.

In [145]:
# Exercise 21
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
print(dict1|dict2)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

### ---

### Exercise 22:
Create a dictionary where keys are numbers from 1 to 5, and values are their squares.

In [147]:
# Exercise 22
dict={1:1,2:4,3:9,4:16,5:25}
dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
---

### Exercise 23:
Write a Python program to iterate through a dictionary and print each key-value pair.

In [149]:
# Exercise 23
my_dict = {'a': 1, 'b': 2, 'c': 3}
for key, value in my_dict.items():
    print(f"Key: {key}, Value: {value}")

Key: a, Value: 1
Key: b, Value: 2
Key: c, Value: 3

In [ ]:
---

### Exercise 24:
Create a list of the first 5 letters of the alphabet using the `chr()` function.

In [2]:
# Exercise 24
letters = [chr(i) for i in range(65, 70)]
print(letters)

['A', 'B', 'C', 'D', 'E']

In [ ]:
---

### Exercise 25:
Use the `zip()` function to combine two lists `[1, 2, 3]` and `["a", "b", "c"]` into a list of tuples.

```python

In [4]:
### Exercise 25:
numbers = [1, 2, 3]
letters = ["a", "b", "c"]
combined = list(zip(numbers, letters))
print(combined)

[(1, 'a'), (2, 'b'), (3, 'c')]

In [ ]:
### Exercise 26:
Find the index of the value `50` in the list `[10, 20, 30, 40, 50]`.

```python

In [8]:
# Exercise 26
numbers = [10, 20, 30, 40, 50]
numbers.index(50)

4

In [ ]:
### Exercise 27:
Sort the list `names = ["Alice", "Bob", "Charlie", "David"]` in alphabetical order.

```python

In [10]:
# Exercise 27
names = ["Alice", "Bob", "Charlie", "David"]
names.sort()
print(names)

['Alice', 'Bob', 'Charlie', 'David']

In [ ]:
### Exercise 28:
Write a Python function that takes a list of integers as input and returns the largest number.

```python

In [12]:
# Exercise 28
def plus_grand(liste):
    return max(liste)
print(plus_grand([10, 25, 7, 99, 42]))

99

In [ ]:
### Exercise 29:
Use the `count()` method to count how many times `"apple"` appears in the list `fruits = ["apple", "banana", "apple", "orange"]`.

```python

In [14]:
# Exercise 29
fruits = ["apple", "banana", "apple", "orange"]
print(fruits.count("apple"))

2

In [ ]:
### Exercise 30:
Create a dictionary `person` where keys are `"name"`, `"age"`, and `"city"`, and values are `"Alice"`, `25`, and `"New York"` respectively. Then access the value of the `"city"` key.

```python

In [16]:
# Exercise 30
person = {"name": "Alice", "age": 25, "city": "New York"}
print(person["city"])

New York

In [ ]:
### Exercise 31:
Write a Python function that takes a list as input and returns a new list with all duplicates removed.

```python

In [18]:
# Exercise 31
def sans_doublons(liste):
    return list(set(liste))
print(sans_doublons([1, 2, 2, 3, 4, 4, 5]))

[1, 2, 3, 4, 5]

In [ ]:
### Exercise 32:
Write a Python function that takes two lists and returns their intersection.

```python

In [20]:
# Exercise 32
def intersection(l1, l2):
    return list(set(l1) & set(l2))
print(intersection([1, 2, 3, 4], [3, 4, 5, 6]))

[3, 4]

In [ ]:
### Exercise 33:
Create a generator that yields the squares of numbers from 1 to 10.

```python

In [22]:
# Exercise 33
def carres():
    for i in range(1, 11):
        yield i**2
for x in carres():
    print(x)

1
4
9
16
25
36
49
64
81
100

In [ ]:
### Exercise 34:
Write a Python function that takes a dictionary as input and returns the sum of all its values.

```python

In [24]:
# Exercise 34
def somme_valeurs(dico):
    return sum(dico.values())
mon_dico = {"a": 10, "b": 20, "c": 30}
print(somme_valeurs(mon_dico))

60

In [ ]:
### Exercise 35:
Use the `sorted()` function to sort the list `[3, 1, 4, 1, 5, 9]` in ascending order.

```python

In [26]:
# Exercise 35
numbers = [3, 1, 4, 1, 5, 9]
print(sorted(numbers))

[1, 1, 3, 4, 5, 9]

In [ ]:
### Exercise 36:
Write a Python function that takes a list of strings as input and returns the longest string.

```python

In [28]:
# Exercise 36
def plus_longue(liste):
    return max(liste, key=len)
mots = ["chat", "éléphant", "lion", "girafe"]
print(plus_longue(mots))

éléphant

In [ ]:
### Exercise 37:
Check if all the elements in the list `[1, 2, 3, 4, 5]` are greater than 0 using the `all()` function.

```python

In [32]:
# Exercise 37
numbers = [1, 2, 3, 4, 5]
resultat = True
for n in numbers:
    if n <= 0:
        resultat = False
        break

print(resultat)

True

In [ ]:
### Exercise 38:
Create a list of tuples where each tuple contains a number and its square for numbers from 1 to 5.

```python

In [34]:
# Exercise 38
resultat = []
for i in range(1, 6):
    resultat.append((i, i**2))
print(resultat)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [ ]:
### Exercise 39:
Write a Python function that takes a list of tuples and returns a list of the second elements from each tuple.

```python

In [36]:
# Exercise 39
def deuxiemes_elements(liste):
    result = []
    for t in liste:
        result.append(t[1])
    return result
tuples = [(1, "a"), (2, "b"), (3, "c")]
print(deuxiemes_elements(tuples))

['a', 'b', 'c']

In [ ]:
### Exercise 40:
Write a Python function that flattens a list of lists into a single list.

```python

In [38]:
# Exercise 40
def aplatir(liste_de_listes):
    result = []
    for sous_liste in liste_de_listes:
        for element in sous_liste:
            result.append(element)
    return result
liste = [[1, 2], [3, 4], [5]]
print(aplatir(liste))

[1, 2, 3, 4, 5]

In [ ]:
### Exercise 41:
Use the `enumerate()` function to iterate through the list `["apple", "banana", "cherry"]` and print the index and value.

```python

In [40]:
# Exercise 41
fruits = ["apple", "banana", "cherry"]
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 cherry

In [ ]:
### Exercise 42:
Write a Python program that checks if a tuple is empty.

```python

In [42]:
# Exercise 42
ma_tuple = ()
if len(ma_tuple) == 0:
    print("La tuple est vide")
else:
    print("La tuple n'est pas vide")

La tuple est vide

In [ ]:
### Exercise 43:
Create a list of even numbers between 1 and 20 using the `range()` function.

```python

In [46]:
# Exercise 43
pairs = []
for i in range(1, 21):
    if i % 2 == 0:
        pairs.append(i)
print(pairs)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
### Exercise 44:
Write a Python function that takes a list of numbers as input and returns the list in reverse order.

```python

In [48]:
# Exercise 44
def inverser_liste(liste):
    resultat = []
    for i in range(len(liste)-1, -1, -1):
        resultat.append(liste[i])
    return resultat

nombres = [1, 2, 3, 4, 5]
print(inverser_liste(nombres))

[5, 4, 3, 2, 1]

In [ ]:
### Exercise 45:
Create a dictionary comprehension that maps numbers from 1 to 5 to their cubes.

```

In [50]:
# Exercise 45
cubes = {}

for i in range(1, 6):
    cubes[i] = i**3

print(cubes)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [ ]:
### Exercise 46:
Write a Python program that creates a new list containing only the unique elements of the list `[1, 2, 2, 3, 4, 4, 5]`.

```python

In [54]:
# Exercise 46
liste = [1, 2, 2, 3, 4, 4, 5]
unique = []
for element in liste:
    if element not in unique:
        unique.append(element)
print(unique)

[1, 2, 3, 4, 5]

In [ ]:
### Exercise 47:
Write a Python function that takes a list of dictionaries and returns a list of the values for a given key.

```python

In [58]:
# Exercise 47
def extraire_valeurs(liste_dicts, cle):
    result = []
    for d in liste_dicts:
        if cle in d:
            result.append(d[cle])
    return result

dicos = [{"nom": "Alice", "age": 25}, {"nom": "Bob", "age": 30}, {"nom": "Charlie", "age": 35}]
print(extraire_valeurs(dicos, "nom"))

['Alice', 'Bob', 'Charlie']

In [ ]:
---

### Exercise 48:
Write a Python function that uses a generator to yield the Fibonacci sequence up to `n` terms.

```python

In [60]:
# Exercise 48
def fibonacci(n):
    a, b = 0, 1
    compteur = 0
    while compteur < n:
        yield a
        a, b = b, a + b
        compteur += 1

for nombre in fibonacci(10):
    print(nombre)

0
1
1
2
3
5
8
13
21
34

In [ ]:
---

### Exercise 49:
Write a Python function that takes a string and returns a list of all unique characters in the string.

```python

In [64]:
# Exercise 49
def caracteres_uniques(texte):
    uniques = []
    for c in texte:
        if c not in uniques:
            uniques.append(c)
    return uniques

chaine = "aaaaaaaaaaaccccccccd"
print(caracteres_uniques(chaine))

['a', 'c', 'd']

In [ ]:
### Exercise 50:
Write a Python function that merges two sorted lists into a single sorted list.

```python

In [68]:
# Exercise 50
def fusion(l1, l2):
    result = []
    i = 0
    j = 0
    
    while i < len(l1) and j < len(l2):
        if l1[i] < l2[j]:
            result.append(l1[i])
            i += 1
        else:
            result.append(l2[j])
            j += 1
 
    while i < len(l1):
        result.append(l1[i])
        i += 1
    while j < len(l2):
        result.append(l2[j])
        j += 1
    
    return result
liste1 = [1, 3, 5]
liste2 = [2, 4, 6]
print(fusion(liste1, liste2))

[1, 2, 3, 4, 5, 6]

In [ ]:
### Exercise 51:
Use the

 `filter()` function to filter out odd numbers from the list `[1, 2, 3, 4, 5, 6]`.

```python

In [70]:
# Exercise 51
nombres = [1, 2, 3, 4, 5, 6]
pairs = list(filter(lambda x: x % 2 == 0, nombres))
print(pairs)

[2, 4, 6]

In [ ]:
### Exercise 52:
Write a Python program that converts a list of tuples `[(1, 2), (3, 4), (5, 6)]` into a dictionary.

```python

In [72]:
# Exercise 52
liste_tuples = [(1, 2), (3, 4), (5, 6)]
mon_dico = {}
for t in liste_tuples:
    mon_dico[t[0]] = t[1]

print(mon_dico)

{1: 2, 3: 4, 5: 6}

In [ ]:
### Exercise 53:
Write a Python function that takes two sets and returns their symmetric difference.

```python

In [74]:
# Exercise 53
def difference_symetrique(s1, s2):
    return s1.symmetric_difference(s2)

ensemble1 = {1, 2, 3}
ensemble2 = {2, 3, 4}
print(difference_symetrique(ensemble1, ensemble2))

{1, 4}

In [ ]:
### Exercise 54:
Write a Python program that finds the common elements in three lists `list1`, `list2`, and `list3`.

```python

In [76]:
# Exercise 54
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
list3 = [4, 5, 6, 7]
communs = []
for element in list1:
    if element in list2 and element in list3:
        communs.append(element)

print(communs)

[4]

In [ ]:
### Exercise 55:
Write a Python function that returns the factorial of a number using recursion.

```python

In [78]:
# Exercise 55
def factorielle(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorielle(n - 1)

print(factorielle(5))

120

In [ ]:
### Exercise 56:
Write a Python program that removes all empty strings from the list `["apple", "", "banana", "", "cherry"]`.

```python

In [80]:
# Exercise 56
fruits = ["apple", "", "banana", "", "cherry"]
resultat = []

for fruit in fruits:
    if fruit != "":
        resultat.append(fruit)

print(resultat)

['apple', 'banana', 'cherry']

In [ ]:
### Exercise 57:
Write a Python function that takes a dictionary and returns a new dictionary with the keys and values swapped.

```python

In [82]:
# Exercise 57
def inverser_dico(dico):
    nouveau = {}
    for cle, valeur in dico.items():
        nouveau[valeur] = cle
    return nouveau

mon_dico = {"a": 1, "b": 2, "c": 3}
print(inverser_dico(mon_dico))

{1: 'a', 2: 'b', 3: 'c'}

In [ ]:
### Exercise 58:
Write a Python function that takes a list of integers and returns a new list with only the even numbers.

```python

In [84]:
# Exercise 58
def pairs(liste):
    result = []
    for n in liste:
        if n % 2 == 0:
            result.append(n)
    return result

# Exemple
nombres = [1, 2, 3, 4, 5, 6]
print(pairs(nombres))

[2, 4, 6]

In [ ]:
### Exercise 59:
Write a Python function that takes a list of tuples and returns a list of the first elements of each tuple.

```python

In [86]:
# Exercise 59
def premiers_elements(liste):
    result = []
    for t in liste:
        result.append(t[0])
    return result

tuples = [(1, "a"), (2, "b"), (3, "c")]
print(premiers_elements(tuples))

[1, 2, 3]

In [ ]:
### Exercise 60:
Write a Python program that removes duplicates from a list without changing the order of elements.

```python

In [88]:
# Exercise 60
liste = [1, 2, 2, 3, 4, 4, 5]
unique = []
for element in liste:
    if element not in unique:
        unique.append(element)

print(unique)

[1, 2, 3, 4, 5]

In [ ]:
### Exercise 61:
Use the `map()` function to convert a list of strings to a list of their lengths.

```python

In [90]:
# Exercise 61
mots = ["apple", "banana", "cherry"]
longueurs = list(map(len, mots))
print(longueurs)

[5, 6, 6]

In [ ]:
### Exercise 62:
Write a Python program that calculates the average of a list of numbers.

```python

In [92]:
# Exercise 62
nombres = [10, 20, 30, 40, 50]
somme = 0
for n in nombres:
    somme += n
moyenne = somme / len(nombres)
print(moyenne)

30.0

In [ ]:
### Exercise 63:
Write a Python function that generates a list of the first `n` Fibonacci numbers.

```python

In [94]:
# Exercise 63
def fibonacci(n):
    result = []
    a, b = 0, 1
    for _ in range(n):
        result.append(a)
        a, b = b, a + b
    return result

print(fibonacci(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
### Exercise 64:
Write a Python program that counts how many times each element appears in the list `["apple", "banana", "apple", "cherry"]`.

```python

In [100]:
# Exercise 64
fruits = ["apple", "banana", "apple", "cherry"]
compteur = {}
for fruit in fruits:
    if fruit in compteur:
        compteur[fruit] += 1
    else:
        compteur[fruit] = 1
        
print(compteur)

{'apple': 2, 'banana': 1, 'cherry': 1}

In [ ]:
### Exercise 65:
Write a Python program that removes all occurrences of a specific value from a list.

```python

In [102]:
# Exercise 65
liste = [1, 2, 3, 2, 4, 2, 5]
valeur_a_supprimer = 2
resultat = []

for element in liste:
    if element != valeur_a_supprimer:
        resultat.append(element)

print(resultat)

[1, 3, 4, 5]

In [ ]:
### Exercise 66:
Write a Python function that takes a list of strings and returns a list of the strings that start with a vowel.

```python

In [104]:
# Exercise 66
def voyelle(liste):
    result = []
    voyelles = "aeiouAEIOU"
    for mot in liste:
        if mot[0] in voyelles:
            result.append(mot)
    return result

mots = ["apple", "banana", "orange", "grape", "umbrella"]
print(voyelle(mots))

['apple', 'orange', 'umbrella']

In [ ]:
### Exercise 67:
Write a Python program that finds the intersection of two sets `set1` and `set2`.

```python

In [106]:
# Exercise 67
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

intersection = set1 & set2 
print(intersection)

{3, 4}

In [ ]:
### Exercise 68:
Write a Python function that flattens a nested list.

```python

In [108]:
# Exercise 68
def aplatir(liste_nest):
    result = []
    for sous_liste in liste_nest:
        for element in sous_liste:
            result.append(element)
    return result

liste = [[1, 2], [3, 4], [5]]
print(aplatir(liste))

[1, 2, 3, 4, 5]

In [ ]:
### Exercise 69:
Write a Python program that checks if all the elements in a list are unique.

```python

In [110]:
# Exercise 69
liste = [1, 2, 3, 4, 5]
unique = True

for i in range(len(liste)):
    for j in range(i + 1, len(liste)):
        if liste[i] == liste[j]:
            unique = False
            break

print(unique)

True

In [ ]:
### Exercise 70:
Use the `reduce()` function from the `functools` module to multiply all elements in a list.

```python

In [114]:
# Exercise 70
from functools import reduce

nombres = [1, 2, 3, 4, 5]
resultat = reduce(lambda x, y: x * y, nombres)
print(resultat)

120

In [ ]:
### Exercise 71:
Write a Python function that takes a list of strings and returns a dictionary where keys are strings and values are their lengths.

```python

In [116]:
# Exercise 71
def longueurs(mots):
    dico = {}
    for mot in mots:
        dico[mot] = len(mot)
    return dico

liste = ["apple", "banana", "cherry"]
print(longueurs(liste))

{'apple': 5, 'banana': 6, 'cherry': 6}

In [ ]:
### Exercise 72:
Write a Python program that counts the number of vowels in a string.

```python
# Exercise 72
```

---

In [ ]:
### Exercise 73:
Create a list of tuples where each tuple contains a number from 1 to 5 and its factorial.

```python
# Exercise 73
```

---

In [ ]:
### Exercise 74:
Write a Python program that converts a list of dictionaries into a single dictionary by merging them.

```python
# Exercise 74
```

---

In [ ]:
### Exercise 75:
Write a Python function that checks if a set is a subset of another set.

```python
# Exercise 75
```

---

In [ ]:
### Exercise 76:
Write a Python program that sorts a list of tuples based on the second element in each tuple.

```python
# Exercise 76
```

---

In [ ]:
### Exercise 77:
Write a Python function that takes a list of integers and returns a new list with only the positive integers.

```python
# Exercise 77
```

---

In [ ]:
### Exercise 78:
Write a Python function that takes two sets and returns their union.

```python
# Exercise 78
```

---

In [ ]:
### Exercise 79:
Write a Python function that takes a list of numbers and returns the product of all the numbers.

```python
# Exercise 79
```

---

In [ ]:
### Exercise 80:
Write a Python program that converts a list of characters into a string.

```python
# Exercise 80
```

---

In [ ]:
### Exercise 81:
Write a Python program that finds the second largest number in a list of integers.

```python
# Exercise 81
```

---

In [ ]:
### Exercise 82:
Write a Python function that takes a dictionary and returns a list of its keys in sorted order.

```python
# Exercise 82
```

---

In [ ]:
### Exercise 83:
Write a Python program that finds the most common element in a list.

```python
# Exercise 83
```

---

In [ ]:
### Exercise 84:
Write a Python function that takes a list of tuples and returns a list of the tuples sorted by the first element.

```python
# Exercise 84
```

---

In [ ]:
### Exercise 85:
Write a Python program that removes duplicates from a list of dictionaries.

```python
# Exercise 85
```

---

In [ ]:
### Exercise 86:
Write a Python function that takes a list of numbers and returns the minimum and maximum numbers in the list.

```python
# Exercise 86
```

---

In [ ]:
### Exercise 87:
Write a Python program that creates a list of tuples from two lists.

```python
# Exercise 87
```

---

In [ ]:
### Exercise 88:
Write a Python function that takes a list of strings and returns a list of the strings in reverse order.

```python
# Exercise 88
```

---

In [ ]:
### Exercise 89:
Write a Python function that takes a list of integers and returns the sum of all odd numbers.

```python
# Exercise 89
```

---

In [ ]:
### Exercise 90:
Write a Python program that checks if a string is a palindrome.

```python
# Exercise 90
```

---

In [ ]:
### Exercise 91:
Write a Python program that finds the median of a list of numbers.

```python
# Exercise 91
```

---

In [ ]:
### Exercise 92:
Write a Python function that takes a list of dictionaries and returns a dictionary with the total value for each key.

```python
# Exercise 92
```

---

In [ ]:
### Exercise 93:
Write a Python program that calculates the mode of a list of numbers.

```python
# Exercise 93
```

---

In [ ]:
### Exercise 94:
Write a Python function that takes a list of numbers and returns the sum of the squares of all the numbers.

```python
# Exercise 94
```

---

In [ ]:
### Exercise 95:
Write a Python program that creates a list of tuples, where each tuple contains a number and its cube for numbers from 1 to 5.

```python
# Exercise 95
```

---

In [ ]:
### Exercise 96:
Write a Python function that returns a list of all prime numbers up to `n`.

```python
# Exercise 96
```

---

In [ ]:
### Exercise 97:
Write a Python program that finds the common keys between two dictionaries.

```python
# Exercise 97
```

---

In [ ]:
### Exercise 98:
Write a Python function that takes a list of strings and returns a list of the strings that contain more than 5 characters.

```python
# Exercise 98
```

---

In [ ]:
### Exercise 99:
Write a Python program that converts a list of strings into a list of tuples, where each tuple contains the string and its length.

```python
# Exercise 99
```

---

In [ ]:
### Exercise 100:
Write a Python function that takes a list of dictionaries and returns a new dictionary by summing the values of each key across all dictionaries.

```python
# Exercise 100
```

---